name: Pg-Reindexer CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5


      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Run CLI Validation Tests
        run: cargo test --test cli_validation -- --nocapture --skip test_thread_count_too_high
      - name: Run Logging and Dry-Run Tests
        run: cargo test --test logging_and_dry_run -- --ignored --nocapture

      - name: Build debug binary
        run: cargo build

      - name: Check --help command
        run: ./target/debug/pg-reindexer --help
